<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="Angelo - CV" />
        <meta name="keywords" content="Angelo, lock, hang, lock to" />
        <meta name="author" content="angelo-lock" />
        <title>{% block title %}Bienvenu!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="assets/favicon.ico">
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/normalize.css">
            <link rel="stylesheet" href="assets/css/transition-animations.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/animate.css">
            <link rel="stylesheet" href="assets/css/main.css" type="text/css">

            <!-- This styles needs for demo -->
            <link rel="stylesheet" href="assets/preview/lmpixels-demo-panel.css" type="text/css">
            <!-- /This styles needs for demo -->

            <script src="assets/js/jquery-2.1.3.min.js"></script>
            <script src="assets/js/modernizr.custom.js"></script>

            <script src='assets/recaptcha/api.js'></script>
        {% endblock %}
    </head>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script data-cfasync="false" src="assets/cloudflare-static/email-decode.min.js"></script><script src="assets/js/bootstrap.min.js"></script>
            <script src="assets/js/page-transition.js"></script>
            <script src="assets/js/imagesloaded.pkgd.min.js"></script>
            <script src="assets/js/validator.js"></script>
            <script src="assets/js/jquery.shuffle.min.js"></script>
            <script src="assets/js/masonry.pkgd.min.js"></script>
            <script src="assets/js/owl.carousel.min.js"></script>
            <script src="assets/js/jquery.magnific-popup.min.js"></script>
            <script src="assets/js/jquery.hoverdir.js"></script>
            <script src="assets/js/main.js"></script>

            <!-- Demo Color changer Script -->
            <script src="assets/preview/lmpixels-demo-panel.js"></script>
            <!-- /Demo Color changer Script -->
        {% endblock %}
    </body>
</html>
